@model AktasTech.WebUi.Models.KategoriListeleme

<div class="list-group" role="tablist">
    @foreach (var category in Model.Kategorilers)
    {
        var css = "list-group-item";
        if (category.KategoriId == Model.MevcutKategori)
        {
            css += " active";
        }
        <a href="/Urunler/Urun?kategori=@category.KategoriId" class="@css">@category.KategoriAd</a>
    }

</div>